*
/build/
!*/
.*
!.gitignore
!*.h
!*.c
!*.cc
!*.cpp
!*.go
!*.sln
!*.vcxproj
!*.vcxproj.filters

!*.ini
!*.yaml
!*.md
!*.pdf
!*.xlsx
!*.docx
!*.sh

!Makefile*
!Dockerfile*
!CMakeLists.txt



